@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-error-container: #93000a;
  --color-error: #ffb4ab;
  --color-tertiary-fixed: #d3e4fe;
  --color-surface-container: #1e293b;
  --color-inverse-primary: #1e3a8a;
  --color-secondary: #c084fc;
  --color-primary-container: #2563eb;
  --color-on-background: #f8fafc;
  --color-tertiary-container: #3730a3;
  --color-on-primary-fixed-variant: #1d4ed8;
  --color-surface-container-highest: #475569;
  --color-surface-container-low: #0f172a;
  --color-primary-fixed: #bfdbfe;
  --color-surface-tint: #60a5fa;
  --color-tertiary-fixed-dim: #818cf8;
  --color-inverse-on-surface: #0f172a;
  --color-on-secondary-fixed: #4c1d95;
  --color-on-secondary: #3b0764;
  --color-on-surface-variant: #94a3b8;
  --color-surface: #020617;
  --color-outline-variant: #1e293b;
  --color-on-tertiary-fixed: #1e1b4b;
  --color-surface-bright: #334155;
  --color-on-surface: #f8fafc;
  --color-inverse-surface: #f8fafc;
  --color-on-tertiary-container: #e0e7ff;
  --color-on-primary-container: #eff6ff;
  --color-surface-variant: #475569;
  --color-primary: #60a5fa;
  --color-on-secondary-container: #f3e8ff;
  --color-surface-dim: #020617;
  --color-on-secondary-fixed-variant: #6b21a8;
  --color-on-error: #fef2f2;
  --color-primary-fixed-dim: #3b82f6;
  --color-surface-container-high: #334155;
  --color-background: #020617;
  --color-on-primary-fixed: #1e3a8a;
  --color-tertiary: #818cf8;
  --color-surface-container-lowest: #020617;
  --color-secondary-fixed-dim: #a855f7;
  --color-on-primary: #eff6ff;
  --color-secondary-container: #7e22ce;
  --color-on-error-container: #450a0a;
  --color-secondary-fixed: #e9d5ff;
  --color-outline: #475569;
  --color-on-tertiary-fixed-variant: #4338ca;
  --color-on-tertiary: #e0e7ff;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  @apply bg-background text-on-background;
}

.text-gradient {
  background: linear-gradient(135deg, #9333ea 0%, #2563eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary-gradient {
  background: linear-gradient(135deg, #9333ea 0%, #2563eb 100%);
}
